@font-face{
    src: url('../fonts/Poppins-Regular.ttf');
    font-family: 'Poppin';
    font-style: normal;
}
*{
    font-family: 'Poppin';
    margin: 0;
    padding: 0;
}
.staticDiv{
    color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 20vh;
    background-color: bisque;
}
.staticDiv h1{
    text-align: center;
}
.options{
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}
.options select{
    border: none;
    width: 10rem;
    height: 2rem;
}
.options button{
    border: none;
    width: 6rem;
    background-color: white;
    outline:none;
    transition: all ease-in-out 0.1s;
}
.options button:hover{
    border: black solid 0.01px;
    background-color: bisque;
}
.data{
    flex: 	1;
    display: flex;
    justify-content: center;
}
.data>*,.algos>*{
    margin-left: 10px;
}
.algos{
    display: flex;
    flex: 1;
    justify-content: center;
}
.dynamic-half{
    width: 100vw;
    height: 80vh;
    background: rgba(255, 228, 196,0.3);
    position: fixed;
}
.stackbox{
    width: 20vw;
    height: 50vh;
    background: white;
    margin-left: 20%;
    margin-top: 20vh;
    border:1px solid rgba(0, 0, 0, 0.7);
    border-top:none;
}