@font-face{
    src: url('../fonts/Poppins-Regular.ttf');
    font-family: 'Poppin';
    font-style: normal;
}
*{
    font-family: 'Poppin';
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.staticDiv{
    color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 20vh;
    background-color: bisque;
}
.staticDiv h1{
    text-align: center;
}
.options{
    display: flex;
    margin-top: 2.5%;
    justify-content: space-evenly;
}
.options select{
    border: none;
    width: 10rem;
    height: 2rem;
}
.options button{
    border: none;
    width: 6rem;
    background-color: white;
    outline:none;
    transition: all ease-in-out 0.1s;
}
.options button:hover{
    border: black solid 0.01px;
    background-color: bisque;
}
.data{
    flex:1;
    display: flex;
    justify-content: center;
}
.data>*,.algos>*{
    margin-left: 10px;
}
.algos{
    display: flex;
    flex: 1;
    justify-content: center;
}
.arrayarea{
    width: 80vw;
    height: 60vh;
    margin: 10vh auto 0 auto;
    border:5px outset rgba(0, 0, 0, 0.7);
    border-right:none;
}
.single-item{
    width: 40px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.4);
    animation:itemadd 0.1s;
    transition: ease-out 0.4s all;
}
.dynamic-half{
    display: flex;
}
.single-item h2{
    font-size: 0.8vw;
}
.source{
    text-align: center;
}
a{
    text-decoration: none;
}
@keyframes itemadd{
    0%{
        opacity: 0;
        transform: translateY(-500px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media only screen and (max-width: 600px){
    .sitename h1{
        font-size: 4vh;
    }
    *{
        overflow: scroll;
    }
    .visible{
        display: none;
    }
    .staticDiv{
        height: 30vh;
    }
    .algos{
        flex:2;
    }
    .complexityHere{
        font-size: 2vh;
    }
}
@media only screen and (max-width: 750px) and (orientation:landscape){
    *{
        overflow: scroll;
    }
    .staticDiv{
        height: 33vh;
    }
}